.heading-one-text {
    color: red;
}
.paragraph-one-text {
    color: purple;
}

button {
    padding: 20px 40px;
    margin: 0px 40px;
    border: 6px solid orange;
}
button:hover {
    border: 6px solid black;
    cursor: pointer;
}
.alert-button {
    background-color: red;
    border-radius: 100px;
    height: 145px;
}

.display-none {
    display: none;
}

#Gary {
    height: 300px;    
}

#Albert {
    height: 300px;    
}

